.blog {
  .mainArticlesBlock {
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: space-between;

    &__row {
      height: 50%;
      display: flex;
    }

    .otherMainArticles {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .block {
    &__content {
      .articles {
        &__titleSection {
          border-bottom: 1px solid black;
          margin-bottom: 50px;
        }
  
        &__list {
          margin-bottom: 60px;
        }
  
        .moreArticles {
          display: table;
          margin-left: auto;
        }
      }
    }
  }
}
