.boxArticle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  animation: slide-down .3s ease-out;
  cursor: pointer;

  &:hover {
    .boxArticle__infos__title {
      color: $c-color6;
    }
  }

  &.none {
    display: none;
  }

  &__img {
    $size_img: 70px;
    width: $size_img;
    height: $size_img;
    border-radius: 50%;
  }

  &__infos {
    padding: 0 10px;

    &__time {
      font-size: 12px;
      color: $c-color2;
      margin-bottom: 5px;
    }

    &__title {
      font-size: 12px;
      font-weight: 600;
    }
  }
}