@font-face {
  font-family: "Alegreya Sans";
  src: url("../public/fonts/AlegreyaSans-LightItalic.woff") format("woff"),
    url("../public/fonts/AlegreyaSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../public/fonts/AlegreyaSans-Light.woff") format("woff"),
    url("../public/fonts/AlegreyaSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../public/fonts/AlegreyaSans-Thin.woff") format("woff"),
    url("../public/fonts/AlegreyaSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../public/fonts/AlegreyaSans-BlackItalic.woff") format("woff"),
    url("../public/fonts/AlegreyaSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../public/fonts/AlegreyaSans-ExtraBoldItalic.woff") format("woff"),
    url("../public/fonts/AlegreyaSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../public/fonts/AlegreyaSans-BoldItalic.woff") format("woff"),
    url("../public/fonts/AlegreyaSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../public/fonts/AlegreyaSans-MediumItalic.woff") format("woff"),
    url("../public/fonts/AlegreyaSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../public/fonts/AlegreyaSans-Medium.woff") format("woff"),
    url("../public/fonts/AlegreyaSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../public/fonts/AlegreyaSans-Black.woff") format("woff"),
    url("../public/fonts/AlegreyaSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../public/fonts/AlegreyaSans-Regular.woff") format("woff"),
    url("../public/fonts/AlegreyaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../public/fonts/AlegreyaSans-ThinItalic.woff") format("woff"),
    url("../public/fonts/AlegreyaSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../public/fonts/AlegreyaSans-Italic.woff") format("woff"),
    url("../public/fonts/AlegreyaSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../public/fonts/AlegreyaSans-ExtraBold.woff") format("woff"),
    url("../public/fonts/AlegreyaSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../public/fonts/AlegreyaSans-Bold.woff") format("woff"),
    url("../public/fonts/AlegreyaSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Light.woff2") format("woff2"),
    url("../public/fonts/Poppins-Light.woff") format("woff"),
    url("../public/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Medium.woff2") format("woff2"),
    url("../public/fonts/Poppins-Medium.woff") format("woff"),
    url("../public/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-ExtraBold.woff2") format("woff2"),
    url("../public/fonts/Poppins-ExtraBold.woff") format("woff"),
    url("../public/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('../public/fonts/HKGrotesk-SemiBold.woff2') format('woff2'),
      url('../public/fonts/HKGrotesk-SemiBold.woff') format('woff'),
      url('../public/fonts/HKGrotesk-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('../public/fonts/HKGrotesk-Regular.woff2') format('woff2'),
      url('../public/fonts/HKGrotesk-Regular.woff') format('woff'),
      url('../public/fonts/HKGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('../public/fonts/HKGrotesk-Light.woff2') format('woff2'),
      url('../public/fonts/HKGrotesk-Light.woff') format('woff'),
      url('../public/fonts/HKGrotesk-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('../public/fonts/HKGrotesk-Medium.woff2') format('woff2'),
      url('../public/fonts/HKGrotesk-Medium.woff') format('woff'),
      url('../public/fonts/HKGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('../public/fonts/HKGrotesk-Bold.woff2') format('woff2'),
      url('../public/fonts/HKGrotesk-Bold.woff') format('woff'),
      url('../public/fonts/HKGrotesk-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}