body {
  background-color: white;
  font-family: $t-text;

  @include bp($b-desk) {
    background-color: white;
  }
}

.container {
  max-width: $site-max-width;
  margin: 0 auto;
}

.icon {
  font-size: 30px;
  cursor: pointer;
}
