body {
  background-color: white;
  font-family: $t-text;

  @include bp($b-desk) {
    background-color: white;
  }
}

.container {
  max-width: $site-max-width;
  margin: 0 auto;
}

.icon {
  font-size: 30px;
  cursor: pointer;
}

.block {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;

  &__content {
    max-width: 800px;
  }

  &__boxes {
  }
}
